<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Подключите ваши стили здесь, если они потребуются -->
</head>
<body>

<!-- Навигационная панель -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/link">Numbers</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/groups">Groups</a></li>
    </ul>
</nav>

<!-- Основное содержание страницы -->
<div>
    {% block content %}{% endblock %}
</div>

<!-- Закрывашка -->
<footer>
    <p>Check out the code on <a href="https://github.com/nerodnoy" target="_blank">GitHub</a></p>
</footer>

</body>
</html>
