<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<!-- Навигационная панель -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/numbers">Numbers</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/groups">Groups</a></li>
    </ul>
</nav>

<!-- Основное содержание страницы -->
<div>
    {% block content %}{% endblock %}
</div>

</body>
</html>
