{% extends 'layout.html' %}

{% block title %}Создание обратной связи{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('feedback.create_feedback', student_id=student.id) }}">
        <h3>{{ current_question }}</h3>
        <!-- Вопросы -->
        {% if current_question in questions %}
            {% set current_question_info = questions[current_question] %}
            <div>
                {% if current_question_info['options'] %}
                    <h2>{{ current_question_info['question_text'] }}</h2>
                    {% for option in current_question_info['options'] %}
                        <div>
                            <input type="radio" name="{{ current_question }}" value="{{ option }}" id="{{ option }}">
                            <label for="{{ option }}">{{ option }}</label>
                        </div>
                    {% endfor %}
                {% endif %}

                <button type="submit">Submit</button>

            </div>
        {% endif %}
    </form>
    <form method="post" action="{{ url_for('feedback.reset_feedback', student_id=student.id) }}">
         <button type="submit">Начать сначала</button>
    </form>
{% endblock %}
