{% extends 'layout.html' %}

{% block title %}Absent List{% endblock %}

{% block content %}
    <h1>Список отсутствующих</h1>

    <h3>{{ group.name }}</h3>

    <h2><a href="{{ group.link }}" target="_blank" id="groupLink">{{ group.link }}</a></h2>

    <h3>Ждём на занятии:</h3>
    <!-- Отображение списка отсутствующих в столбик -->
        {% if absent_students %}
            {% for student in absent_students %}
                {% if not student.present %}
                    {{ student.name }}<br>
                    <!-- заменю эту строчку на гиперссылку на ученика, когда добавлю кнопку скопировать -->
                    <!-- <a href="{{ url_for('students.view_student', group_id=group.id, student_id=student.id) }}">{{ student.name }}</a> -->
                {% endif %}
            {% endfor %}
        {% else %}
            Все ученики присутствуют на занятии
        {% endif %}

    <!-- Кнопка для возврата к группе -->
    <form method="get" action="{{ url_for('groups.view_group', group_id=group.id) }}">
        <button class="btn btn-primary">Назад к группе</button>
    </form>

    <!-- В зависимости от дня недели пишем разным кураторам -->
    {% if 'Понедельник' in group.name %}
        <p><a href="https://t.me/+79272559173" target="_blank">Отправить Валерии</a></p>
    {% elif 'Четверг' in group.name or 'Пятница' in group.name %}
        <p><a href="https://t.me/ira_frolova" target="_blank">Отправить Ирине</a></p>
    {% endif %}

{% endblock %}
