{% extends 'layout.html' %}

{% block title %}Список групп{% endblock %}

{% block content %}
    <h1>Список групп</h1>

    <!-- Выводим список всех созданных групп в виде таблицы -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя группы</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>
                        <a href="{{ url_for('groups.view_group', group_id=group.id) }}">{{ group.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Кнопка для перехода к созданию новой группы -->

    <form action="{{ url_for('groups.create_group') }}" method="get">
        <button type="submit" class="btn btn-primary">
            Создать новую группу
        </button>
    </form>

    <br>

    <!-- Кнопка для очистки базы данных -->
    <form action="{{ url_for('groups.clear_all_data') }}" method="post">
        <button type="submit" class="btn btn-danger">
            Удалить все группы
        </button>
    </form>


    <script src="{{ url_for('groups.static', filename='js/clear_data.js') }}"></script>
{% endblock %}