{% extends 'layout.html' %}

{% block title %}Create New Group{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Create New Group</h1>

    <!-- Форма создания новой группы -->
    <form action="{{ url_for('groups.create_group') }}" method="post">
        <label for="skill">Уровень:</label>
        <select id="skill" name="skill" required>
            <option value="start">START</option>
            <option value="pro">PRO</option>
        </select>

        <label for="time">Время:</label>
        <select id="time" name="time" required>
            <option value="16:00">16:00</option>
            <option value="17:00">17:00</option>
            <option value="18:00">18:00</option>
            <option value="19:00">19:00</option>
            <option value="20:00">20:00</option>
        </select>

        <label for="day">Начало:</label>
        <select id="day" name="day" required>
            <option value="Понедельник">Понедельник</option>
            <option value="Четверг">Четверг</option>
            <option value="Пятница">Пятница</option>
        </select>

    <!-- Поле для ввода ссылки -->
    <label for="link">Ссылка на группу:</label>
    <input type="text" id="link" name="link">

    <button type="submit">Create</button>
    </form>


    <a href="{{ url_for('groups.list_groups') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
        Back to Groups
    </a>
{% endblock %}