{% extends 'layout.html' %}

{% block title %}Список групп{% endblock %}

{% block content %}

    <!--тут пиздец -->
    <form action="{{ url_for('groups.list_groups') }}" method="get" id="monthForm">
        <label for="selectMonth">Выберите месяц:</label>
        <select id="selectMonth" name="selected_month" onchange="document.getElementById('monthForm').submit()">
            <option value="January" {% if current_month == 'Январь' %}selected{% endif %}>Январь</option>
            <option value="February" {% if current_month == 'Февраль' %}selected{% endif %}>Февраль</option>
            <option value="March" {% if current_month == 'Март' %}selected{% endif %}>Март</option>
            <option value="April" {% if current_month == 'Апрель' %}selected{% endif %}>Апрель</option>
            <option value="May" {% if current_month == 'Май' %}selected{% endif %}>Май</option>
            <option value="June" {% if current_month == 'Июнь' %}selected{% endif %}>Июнь</option>
            <option value="July" {% if current_month == 'Июль' %}selected{% endif %}>Июль</option>
            <option value="August" {% if current_month == 'Август' %}selected{% endif %}>Август</option>
            <option value="September" {% if current_month == 'Сентябрь' %}selected{% endif %}>Сентябрь</option>
            <option value="October" {% if current_month == 'Октябрь' %}selected{% endif %}>Октябрь</option>
            <option value="November" {% if current_month == 'Ноябрь' %}selected{% endif %}>Ноябрь</option>
            <option value="December" {% if current_month == 'Декабрь' %}selected{% endif %}>Декабрь</option>
        </select>
    </form>

    <!-- Выбранный месяц или текущий месяц -->
    {% set display_month = selected_month or current_month %}

    <!-- Заголовок с наименованием месяца -->
    <h2>{{ display_month }}</h2>

    <table class="table table-hover">
        <!-- Заголовки таблицы -->
        <thead>
        <tr>
            <th>#</th>
            <th>Имя группы</th>
            <th>Дата начала занятий</th>
        </tr>
        </thead>
        <tbody>
        {% for week, groups in week_groups.items() %}
            {% if groups %}
                <tr>
                    <td colspan="3" class="text-left"><strong>{{ week }}</strong></td>
                </tr>
                {% for group in groups %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ url_for('groups.view_group', group_id=group.id) }}">{{ group.name }}</a>
                        </td>
                        <td>{{ group.start_date }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <!-- Кнопка для перехода к созданию новой группы -->
    <form action="{{ url_for('groups.create_group') }}" method="get">
        <button type="submit" class="btn btn-primary">
            Создать новую группу
        </button>
    </form>

    <!-- Кнопка для очистки базы данных -->
    <form action="{{ url_for('groups.clear_all_data') }}" method="post">
        <button type="submit" class="btn btn-danger">
            Удалить все группы
        </button>
    </form>

{% endblock %}
