{% extends 'layout.html' %}

{% block title %}Создание новой группы{% endblock %}

{% block content %}
    <h1>Создать новую группу</h1>

    <!-- Форма создания новой группы -->
    <form action="{{ url_for('groups.create_group') }}" method="post">
        <label for="skill">Уровень:</label>
        <select id="skill" name="skill" required>
            <option value="START">START</option>
            <option value="PRO">PRO</option>
        </select>

        <label for="time">Время:</label>
        <select id="time" name="time" required>
            <option value="16:00">16:00</option>
            <option value="17:00">17:00</option>
            <option value="18:00">18:00</option>
            <option value="19:00">19:00</option>
            <option value="20:00">20:00</option>
        </select>

        <label for="day">Начало:</label>
        <select id="day" name="day" required>
            <option value="Понедельник">Понедельник</option>
            <option value="Четверг">Четверг</option>
            <option value="Пятница">Пятница</option>
        </select>

        <!-- Поле для ввода ссылки -->
        <label for="link">Ссылка на группу:</label>
        <input type="text" id="link" name="link">

        <label for="start_date">Дата начала занятий:</label>
        <input type="date" id="start_date" name="start_date" required>

        <button type="submit" class="btn btn-primary">Создать</button>
    </form>

    <form method="get" action="{{ url_for('groups.list_groups') }}">
        <button class="btn btn-primary">Назад к группам</button>
    </form>
{% endblock %}
