{% extends 'layout.html' %}

{% block title %}Список групп{% endblock %}

{% block content %}
    <h1>Список групп</h1>

    <!-- Выводим список всех созданных групп в виде таблицы -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя группы</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>
                        <a href="{{ url_for('groups.view_group', group_id=group.id) }}">{{ group.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Кнопка для перехода к созданию новой группы -->
    <a href="{{ url_for('groups.create_group') }}">
        Create New Group
    </a>

    <!-- Кнопка для очистки базы данных -->
    <form action="{{ url_for('groups.clear_all_data') }}" method="post">
        <button type="submit" onclick="showClearConfirmationModal()">
            Удалить все группы
        </button>
    </form>

    <!-- Модальное окно с подтверждением очистки базы данных -->
    <div id="clearConfirmationModal" class="hidden">
        <div>
            <p>Вы уверены, что хотите удалить все группы?</p>
            <form id="clearDeleteForm" method="post" action="{{ url_for('groups.clear_all_data') }}">
                <button type="submit">
                    Да, удалить
                </button>
                <button type="button" onclick="hideClearConfirmationModal()">
                    Отмена
                </button>
            </form>
        </div>
    </div>

    <!-- скрипт для подтверждения -->
    <script>
            function showClearConfirmationModal() {
                document.getElementById('clearConfirmationModal').classList.remove('hidden');
            }

            function hideClearConfirmationModal() {
                document.getElementById('clearConfirmationModal').classList.add('hidden');
            }

    </script>
{% endblock %}