{% extends 'layout.html' %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
    <h1>Создание обратной связи</h1>

    <form method="post" action="{{ url_for('feedback.feedback') }}">
        <h3>{{ current_question }}</h3>

        {% if current_question == 'Имя ученика' %}
            <div>
                <input type="text" name="student_name" id="student_name" placeholder="Например, Иван" required>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        {% elif current_question == 'Имя родителя' %}
            <div>
                <input type="text" name="parent_name" id="parent_name" placeholder="Например, Светлана" required>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        {% elif current_question in questions %}
            {% set current_question_info = questions[current_question] %}
            <div>
                {% if current_question_info['options'] %}
                    {% for option in current_question_info['options'] %}
                        <div>
                            <input class="form-check-input" type="checkbox" name="{{ current_question }}" value="{{ option }}" id="{{ option }}">
                            <label for="{{ option }}">{{ option }}</label>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if current_question_info['input'] %}
                    <div>
                        <label for="custom_input">Ваш ответ:</label>
                        <input type="text" name="custom_input" id="custom_input" required>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        {% endif %}
    </form>

    <!-- Кнопка Начать сначала -->
    <form method="post" action="{{ url_for('feedback.restart') }}">
        <button type="submit" class="btn btn-danger">Начать сначала</button>
    </form>
{% endblock %}
