{% extends 'layout.html' %}

{% block title %}Absent List{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Список отсутствующих</h1>

    <h2>Ссылка на группу: <a href="{{ group.link }}" target="_blank" id="groupLink">{{ group.link }}</a></h2>
    <br>

    <h2>Ждём на занятии:</h2>
    <br>

    <!-- Отображение списка отсутствующих в столбик -->
    <ul id="studentsList">
        {% if absent_students %}
            {% for student in absent_students %}
                {% if not student.present %}
                    <li>{{ student.name }}</li>
                    <!-- Другие детали студента, если необходимо -->
                {% endif %}
            {% endfor %}
        {% else %}
            <li>Все ученики присутствуют на занятии.</li>
        {% endif %}
    </ul>

    <!-- Кнопка для копирования текста -->
    <button id="copyButton" class="copy-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
        Копировать текст
    </button>

    <!-- Кнопка для возврата к группе -->
    <a href="{{ url_for('view_group', group_name=group_name) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
        Назад к группе
    </a>

<!-- Скрипт для копирования текста с id=studentsList -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var clipboard = new ClipboardJS('#copyButton', {
            text: function () {
                var copiedText = '';
                copiedText += 'Ссылка на группу: ' + decodeURIComponent('{{ group.link }}') + '\n\n';
                copiedText += 'Ждём на занятии:\n\n';

                var studentsList = document.getElementById('studentsList');
                for (var i = 0; i < studentsList.children.length; i++) {
                    copiedText += studentsList.children[i].innerText + '\n';
                }

                return copiedText;
            }
        });

        clipboard.on('success', function (e) {
            alert('Текст скопирован в буфер обмена!');
            e.clearSelection();
        });

        clipboard.on('error', function (e) {
            alert('Не удалось скопировать текст. Используйте сочетание клавиш.');
        });
    });
</script>
{% endblock %}
