{% extends 'layout.html' %}

{% block title %}Absent List{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Список отсутствующих</h1>

    <h2>{{ group.name }}</h2>
    <br>
    <h2><a href="{{ group.link }}" target="_blank" id="groupLink">Ссылка на группу:  {{ group.link }}</a></h2>
    <br>

    <!-- Отображение списка отсутствующих в столбик -->
    <ul id="studentsList">
        {% if absent_students %}
            {% for student in absent_students %}
                {% if not student.present %}
                    Ждём на занятии:
                    <li><a href="{{ url_for('view_student_in_group', group_name=group.name, student_id=student.id) }}">{{ student.name }}</a></li>
                    <!-- Другие детали студента, если необходимо -->
                {% endif %}
            {% endfor %}
        {% else %}
            <li>Все ученики присутствуют на занятии</li>
        {% endif %}
    </ul>

    <!-- Кнопка для копирования текста -->
    <button id="copyButton" class="copy-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
        Копировать текст
    </button>

    <!-- Кнопка для возврата к группе -->
    <a href="{{ url_for('view_group', group_name=group_name) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
        Назад к группе
    </a>

    <!-- В зависимости от дня недели пишем разным кураторам -->
    {% if 'monday' in group.name %}
        <p><a href="https://t.me/+79272559173" target="_blank">Отправить Валерии</a></p>
    {% elif 'thursday' in group.name or 'friday' in group.name %}
        <p><a href="https://t.me/ira_frolova" target="_blank">Отправить Ирине</a></p>
    {% endif %}

    <!-- Скрипт для копирования текста с id=studentsList -->
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var clipboard = new ClipboardJS('#copyButton', {
                text: function () {
                    var copiedText = '';
                    copiedText += 'Ссылка на группу: ' + decodeURIComponent('{{ group.link }}') + '\n\n';
                    copiedText += 'Ждём на занятии:\n\n';

                    var studentsList = document.getElementById('studentsList');
                    for (var i = 0; i < studentsList.children.length; i++) {
                        copiedText += studentsList.children[i].innerText + '\n';
                    }

                    return copiedText;
                }
            });

            clipboard.on('success', function (e) {
                alert('Текст скопирован в буфер обмена!');
                e.clearSelection();
            });

            clipboard.on('error', function (e) {
                alert('Не удалось скопировать текст. Используйте сочетание клавиш.');
            });
        });
    </script>
{% endblock %}
