{% extends 'layout.html' %}

{% block title %}Feedback Generator{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Feedback Generator</h1>

    <!-- Логика вопросов -->
    <form method="post" action="/feedback">
        <h3 class="text-xl font-semibold mb-2">{{ current_question }}</h3>

        {% if current_question in questions %}
            {% set current_question_info = questions[current_question] %}
            <div class="flex flex-col space-y-2">
                {% for option in current_question_info['options'] %}
                    <div class="flex items-center">
                        <input type="radio" name="{{ current_question }}" value="{{ option }}" id="{{ option }}">
                        <label for="{{ option }}" class="ml-2">{{ option }}</label>
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="mt-4 w-full bg-blue-500 text-white p-3 rounded-md hover:bg-blue-600">Submit</button>

            <!-- Текущий результат -->
            {% block intermediate_result %}
                {% if answers %}
                    <div class="text-center mt-4">
                        <h2 class="text-2xl font-semibold text-blue-500 mb-2">Intermediate Result</h2>
                        {% for answer in answers %}
                            <p>{{ answer }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
        {% endif %}
    </form>

    <!-- Кнопка Начать сначала -->
    <form method="post" action="/restart" class="mt-4">
        <button type="submit">
            <img src="https://i.ibb.co/CP7fW4z/pngwing-com-17.png" alt="Начать с начала" class="w-8 h-8">
        </button>
    </form>
{% endblock %}