<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(45deg, #ffffff 25%, #f0f0f0 25%, #f0f0f0 50%, #ffffff 50%, #ffffff 75%, #f0f0f0 75%, #f0f0f0 100%);
        }
    </style>
</head>
<body class="bg-gray-100 font-sans flex flex-col min-h-screen">

    <!-- Навигационная панель -->
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">

            <!-- Website name -->
            <a href="/" class="text-white text-xl font-bold">nerodnoy</a>
            <div class="space-x-4">

                <!-- name 1 -->
                <a href="/" class="text-white">Telegram</a>

                <!-- name 2 -->
                <a href="/feedback" class="text-white">Feedback</a>
            </div>
        </div>
    </nav>

    <!-- Основное содержание страницы -->
    <div class="container mx-auto max-w-md p-8 bg-white shadow-lg rounded-md mt-16">
        {% block content %}{% endblock %}
    </div>

    <!-- Закрывашка -->
    <footer class="mt-5 text-center text-gray-500">
        <p>Check out the code on <a href="https://github.com/nerodnoy" target="_blank" class="underline">GitHub</a></p>
    </footer>

    <!-- Скрипты и зависимости Tailwind CSS -->
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
</body>
</html>
