{% extends 'layout.html' %}

{% block title %}Group Details{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Group Details</h1>

    <p>ID: {{ group.id }}</p>
    <p>Name: {{ group.group_name }}</p>

    <!-- Добавьте здесь остальные детали группы, если они есть -->

    <!-- Кнопка для удаления группы -->
    <form action="{{ url_for('delete_group', group_name=group.group_name) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this group?');">
        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
            Delete Group
        </button>
    </form>
{% endblock %}
