{% extends 'layout.html' %}

{% block title %}Group Details{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Group Details</h1>

    <p>Название группы: {{ group.name }}</p>

    <!-- Кнопка для удаления группы с подтверждением -->
    <button onclick="showConfirmationModal()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
        Delete Group
    </button>
    <a href="{{ url_for('list_groups') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
        Back to Groups
    </a>
    <!-- Модальное окно с подтверждением удаления -->
    <div id="confirmationModal" class="hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
        <div class="bg-white p-8 rounded shadow-md">
            <p>Вы уверены, что хотите удалить группу "{{ group.name }}"?</p>
            <form id="deleteForm" method="post" action="{{ url_for('delete_group_route', group_name=group.name) }}">
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Да, удалить
                </button>
                <button type="button" onclick="hideConfirmationModal()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4 ml-2">
                    Отмена
                </button>
            </form>
        </div>
    </div>
    <script>
        function showConfirmationModal() {
            document.getElementById('confirmationModal').classList.remove('hidden');
        }

        function hideConfirmationModal() {
            document.getElementById('confirmationModal').classList.add('hidden');
        }
    </script>
{% endblock %}
