{% extends 'layout.html' %}

{% block title %}Student Details{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Student Details</h1>

    <h2>Имя ученика: {{ student.name }}</h2>

    <h3>Заметки по 1-му уроку:</h3>
    <p>{{ student.notes_lesson1 }}</p>

    <h3>Заметки по 2-му уроку:</h3>
    <p>{{ student.notes_lesson2 }}</p>

    <!-- Итоговый результат генерации обратной связи -->

    <h3>Итоговый результат генерации обратной связи:</h3>
    <p>{{ info }}</p>


    <!-- Добавьте кнопку "Создать ОС" с ссылкой на форму обратной связи -->
    <form method="post" action="{{ url_for('create_feedback', student_id=student.id) }}">
        <button type="submit">Создать ОС</button>
    </form>

    <!-- Кнопка для возврата к группе -->
    <a href="{{ url_for('view_group', group_name=group_name) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
        Назад к группе
    </a>

{% endblock %}